<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{config.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/markdown.css">
</head>
<body>
    <div class="container">
        <div class="slidebar">
            <div class="newmd">
                <div class="btn newmd_btn">{{config.newmd}}</div>
                <div class="btn example hide"><a href="http://www.myjsblog.com" target="_blank">周报例子</a></div>
                <div class="select_wrap" style="z-index: 8;">
                    <div class="select">
                        <div class="value">点击选择垂类</div>
                        <div class="option">
                            {{each dirData as $item index}}
                                {{if !$item.link}}
                                <p>{{$item.title}}</p>
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="select_bg"></div>
                    </div>
                </div>
            </div>
            <div class="new_info">
                <form>
                    {{each config.new_info as $item}}
                        <label class="label">
                            <span class="label_title">{{$item.title}}</span>
                            <div class="input_box">
                                {{if $item.status}}
                                    <div class="input status" data-type="{{$item.type}}" data-tips="{{$item.tips}}" data-selected="{{$item.selected}}">
                                        {{each $item.status as $status}}
                                            <span class="tags">{{$status}}</span>
                                        {{/each}}
                                    </div>
                                {{else}}
                                    {{if $item.textarea}}
                                        <textarea class="input{{if $item.class}} {{$item.class}}{{/if}}" data-type="{{$item.type}}" data-tips="{{$item.tips}}" data-selected="{{$item.selected}}" rows="{{$item.rows}}" cols="{{$item.cols}}"></textarea>
                                    {{else}}
                                        <input class="input{{if $item.class}} {{$item.class}}{{/if}}" type="text" data-type="{{$item.type}}" data-tips="{{$item.tips}}" data-selected="{{$item.selected}}" placeholder="{{$item.value}}">
                                    {{/if}}
                                {{/if}}
                            </div>
                        </label>
                    {{/each}}
                    <div class="newmd in_save">
                        <label class="label address">
                            <span class="label_title">文档地址</span>
                            <div class="input_box">
                                <input class="input" type="text" data-type="" data-tips="" placeholder="请输入md文档名称, 注: 格式 *.md">
                            </div>
                        </label>
                        <div class="btn">{{config.in_save}}</div>
                    </div>
                </form>
            </div>
            <ul class="nav">
                {{each dirData as $item index}}
                    <li{{if index === 0}} class="li_first"{{/if}}{{if $item.link}} data-id="{{$item.id}}"{{/if}}>
                        {{if $item.link}}
                            <div class="nav_info">
                                <a href="{{$item.link}}">{{$item.title}}</a>
                                <span class="btn edit">编辑</span>
                                <span class="btn add">添加</span>
                            </div>
                        {{else}}
                            <div class="nav_title">{{$item.title}}</div>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="content">
            <div class="markdown-body">
                <div class="docx_marked" id="docx_marked"></div>
                <textarea class="docx_textarea"></textarea>
            </div>
            <div class="newmd content_foot">
                <div class="btn content_btn content_save">{{config.content_save}}</div>
                <div class="btn content_btn content_copy">{{config.content_copy}}</div>
            </div>
            <div class="loading"><img src="images/loading.gif"></div>
        </div>
    </div>
    <script src="script/jquery.js"></script>
    <script src="script/jquery.zclip.js"></script>
    <script>
        var data = {{#data}};    // 左侧目录树数据
    </script>
    <script src="script/index.js"></script>
</body>
</html>
